# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Invoices and Data Files (Personal / Financial data)
*.pdf
*.xlsx
*.zip
extracted_data/
Indigo/
Air_India/
Air_India_Express/

# Environment and IDE
.venv/
env/
venv/
.idea/
.vscode/
.DS_Store
Thumbs.db
